In [67]:
!pip install -q kaggl

ERROR: Could not find a version that satisfies the requirement kaggl (from versions: none)
ERROR: No matching distribution found for kaggl

In [68]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [69]:
import pandas as pd

In [70]:
ds=pd.read_csv('pollution_2000_2023.csv')

In [71]:
ds

,Unnamed: 0,Date,Address,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,10,37,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,1,2000-01-02,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,10,30,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2,2000-01-03,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,9,15,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,3,2000-01-04,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,9,31,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,4,2000-01-05,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,9,11,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665409,665409,2023-06-26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.043941,0.050,12,46,...,0,0.0,0.117391,0.3,7,0.0,2.282609,4.3,6,4
665410,665410,2023-06-27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.046235,0.054,12,50,...,0,0.0,0.091667,0.2,8,0.0,2.283333,5.2,6,5
665411,665411,2023-06-28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.046588,0.055,7,51,...,0,0.0,0.091667,0.2,6,0.0,2.487500,4.8,19,4
665412,665412,2023-06-29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.048765,0.056,9,54,...,0,0.0,0.052174,0.1,8,0.0,2.086957,4.1,8,4
665413,665413,2023-06-30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.048333,0.051,7,47,...,0,0.0,0.020833,0.2,11,0.0,3.200000,14.8,3,13

In [72]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665414 entries, 0 to 665413
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         665414 non-null  int64
 1   Date               665414 non-null  object
 2   Address            665414 non-null  object
 3   State              665414 non-null  object
 4   County             665414 non-null  object
 5   City               665414 non-null  object
 6   O3 Mean            665414 non-null  float64
 7   O3 1st Max Value   665414 non-null  float64
 8   O3 1st Max Hour    665414 non-null  int64
 9   O3 AQI             665414 non-null  int64
 10  CO Mean            665414 non-null  float64
 11  CO 1st Max Value   665414 non-null  float64
 12  CO 1st Max Hour    665414 non-null  int64
 13  CO AQI             665414 non-null  float64
 14  SO2 Mean           665414 non-null  float64
 15  SO2 1st Max Value  665414 non-null  float64
 16  SO2 1st Max Hour   665414 non-null  int64
 17  SO2 AQI            665414 non-null  float64
 18  NO2 Mean           665414 non-null  float64
 19  NO2 1st Max Value  665414 non-null  float64
 20  NO2 1st Max Hour   665414 non-null  int64
 21  NO2 AQI            665414 non-null  int64
dtypes: float64(10), int64(7), object(5)
memory usage: 111.7+ MB

In [73]:
ds.Date

0         2000-01-01
1         2000-01-02
2         2000-01-03
3         2000-01-04
4         2000-01-05
             ...
665409    2023-06-26
665410    2023-06-27
665411    2023-06-28
665412    2023-06-29
665413    2023-06-30
Name: Date, Length: 665414, dtype: object

In [74]:
ds.Address

0         1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
1         1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
2         1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
3         1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
4         1645 E ROOSEVELT ST-CENTRAL PHOENIX STN
                           ...
665409      NCore - North Cheyenne Soccer Complex
665410      NCore - North Cheyenne Soccer Complex
665411      NCore - North Cheyenne Soccer Complex
665412      NCore - North Cheyenne Soccer Complex
665413      NCore - North Cheyenne Soccer Complex
Name: Address, Length: 665414, dtype: object

In [75]:
ds.State

0         Arizona
1         Arizona
2         Arizona
3         Arizona
4         Arizona
           ...
665409    Wyoming
665410    Wyoming
665411    Wyoming
665412    Wyoming
665413    Wyoming
Name: State, Length: 665414, dtype: object

In [76]:
ds.County

0         Maricopa
1         Maricopa
2         Maricopa
3         Maricopa
4         Maricopa
            ...
665409     Laramie
665410     Laramie
665411     Laramie
665412     Laramie
665413     Laramie
Name: County, Length: 665414, dtype: object

In [77]:
ds.City

0          Phoenix
1          Phoenix
2          Phoenix
3          Phoenix
4          Phoenix
            ...
665409    Cheyenne
665410    Cheyenne
665411    Cheyenne
665412    Cheyenne
665413    Cheyenne
Name: City, Length: 665414, dtype: object

In [78]:
x=ds[['O3 Mean']]

In [89]:
x.mean()

O3 Mean    0.028605
dtype: float64

In [80]:
x1=ds[['O3 1st Max Value']]

In [88]:
x1.max()

O3 1st Max Value    0.14
dtype: float64

In [82]:
x2=ds[['O3 1st Max Hour']]

In [87]:
x2.max()

O3 1st Max Hour    23
dtype: int64

In [90]:
x3=ds[['O3 AQI']]
x.sum()

O3 Mean    19034.06209
dtype: float64

In [85]:
x4=ds[['CO 1st Max Hour']]

In [86]:
x4.mean()

CO 1st Max Hour    5.922553
dtype: float64

In [93]:
x5=ds[['CO AQI']]
x5.max()

CO AQI    201.0
dtype: float64

In [95]:
x6=ds[['SO2 Mean']]
x6.mean()

SO2 Mean    1.428759
dtype: float64

In [96]:
x7=ds[['SO2 1st Max Value']]
x7.max()

SO2 1st Max Value    351.0
dtype: float64

In [97]:
x=ds[['NO2 1st Max Hour']]
x.max()

NO2 1st Max Hour    23
dtype: int64

In [98]:
x=ds[['SO2 AQI']]
x.sum()

SO2 AQI    3430038.0
dtype: float64

In [99]:
x=ds[['NO2 Mean']]
x.mean()

NO2 Mean    11.510561
dtype: float64

In [100]:
x=ds[['NO2 1st Max Value']]
x.max()

NO2 1st Max Value    371.7
dtype: float64

In [101]:
x=ds[['NO2 1st Max Hour']]
x.max()

NO2 1st Max Hour    23
dtype: int64